/*  */
/* Grid Util Classes */

.grid {
  display: grid;
}

/* Col Templates */
.grid-col-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-col-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-col-3 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-col-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

/* Column Start/End */
.col-auto {
  grid-column: auto;
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}

/* Row templates */
.grid-row-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr));
}
.grid-row-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}
.grid-row-3 {
  grid-template-rows: repeat(3, minmax(0, 1fr));
}
.grid-row-4 {
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

/* Row Start/End */

.row-auto {
  grid-row: auto;
}
.row-span-1 {
  grid-row: span 1 / span 1;
}
.row-span-2 {
  grid-row: span 2 / span 2;
}
.row-span-3 {
  grid-row: span 3 / span 3;
}
.row-span-4 {
  grid-row: span 4 / span 4;
}
